<div class="button-buy-custom">
  {% if product.handle != 'soft-winter-jacket' %}
  <button class="buy-btn-custom" {% if product.selected_or_first_available_variant.title contains "Unselected" %}disabled{% endif %}{% unless product.selected_or_first_available_variant.title contains 'Unselected' %}data-id="{{ product.selected_or_first_available_variant.id }}"{% endunless %}>
    Add To Cart
  </button>
  <p>Please choose option...</p>
  {% else %}
    This product is only available with the purchase of <a href="/products/leather-bag">Leather Bag</a>
  {% endif %}
</div>